@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Epilogue;
  src: url(../fonts/Epilogue-VariableFont_wght.ttf);
}

:root {
  --color-light: #f1f1f1;
  --color-dark: #1f1f1f;
  --color-primary: #F1861D;
  --color-secondary: #36B39C;
  --swiper-theme-color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Epilogue;
}

.swiper-pagination-bullet{
  background-color: var(--color-secondary) !important;
}

.swiper-pagination-bullet-active{
  background-color: var(--color-primary) !important;
}


